<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>

        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RevaTrademark.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RevaTrademark.My.MySettings.SQLConnection" connectionString="Data Source=THOMASNAUGH5871\SQLEXPRESS;Initial Catalog=RevaTrademarkDev7;User ID=tommy;Password=fatdog999"
            providerName="System.Data.SqlClient" />
        <add name="RevaTrademark.My.MySettings.CurrentConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\RevaTrademark.mdb;Persist Security Info=True" />
        <add name="RevaTrademark.My.MySettings.DemoConnection" connectionString="data source = 'RevaTrademark.vdb5'"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <userSettings>
        <RevaTrademark.My.MySettings>
            <setting name="LastMergeType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastMergeWord" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMergeExcel" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMergeOutlook" serializeAs="String">
                <value />
            </setting>
            <setting name="UseMergeHelper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XLLandscape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XLPageNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XLDatePrinted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XLHeaderRows" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XLFitToPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrademarkListLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkAlertLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkEmailAlertLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentListLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentAlertLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentEmailAlertLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkStatusLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MarkGeneralReportLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="rptTrademarksListLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="rptTrademarksDatesLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MarkExportExcelLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MarkExportWordLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="rptPatentsListLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="rptPatentsDatesLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PatentExportWordLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PatentExportExcelLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PatentGeneralReportLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MarkNextDueDateLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PatentNextDueDateLayout" serializeAs="String">
                <value>none</value>
            </setting>
        </RevaTrademark.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
