<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevaSettings.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RevaSettings.My.MySettings.AccessConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=RevaTrademark.mdb"
            providerName="System.Data.OleDb" />
        <add name="RevaSettings.My.MySettings.SQLConnection" connectionString="Provider=SQLOLEDB;Data Source=(local);Initial Catalog=RevaTrademark;User ID=sa;Password=passwordhere"
            providerName="System.Data.OleDb" />
        <add name="RevaSettings.My.MySettings.CurrentConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\RevaTrademark.mdb;Persist Security Info=True" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RevaSettings.My.MySettings>
            <setting name="TrademarkDocuments" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentDocuments" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkGraphics" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentGraphics" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenOnMarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Type your server name</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>RevaTrademark</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SecurityType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrademarkDocumentsDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentDocumentsDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkGraphicsDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportIconDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMergeType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastMergeWord" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMergeExcel" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMergeOutlook" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentGraphicsDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="UseMergeHelper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USADates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpellMonthMerge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value>DemoVersion</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="BlankDatesLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutlookAlertTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XLLandscape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XLPageNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XLDatePrinted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XLHeaderRows" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XLFitToPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHoursExpenses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrademarkListLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkAlertLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkEmailAlertLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentListLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentAlertLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentEmailAlertLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkStatusLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MarkGeneralReportLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="rptTrademarksListLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="rptTrademarksDatesLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MarkExportExcelLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MarkExportWordLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="rptPatentsListLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="rptPatentsDatesLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PatentExportWordLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PatentExportExcelLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="EmailHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PatentGeneralReportLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MarkNextDueDateLayout" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PatentNextDueDateLayout" serializeAs="String">
                <value>none</value>
            </setting>
        </RevaSettings.My.MySettings>
    </userSettings>
</configuration>
