<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevaSettings.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <RevaSettings.My.MySettings>
            <setting name="TrademarkDocuments" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentDocuments" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkGraphics" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentGraphics" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenOnMarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Type your server name</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>RevaTrademark</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SecurityType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrademarkDocumentsDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentDocumentsDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="TrademarkGraphicsDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportIconDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="PatentGraphicsDemo" serializeAs="String">
                <value />
            </setting>
            <setting name="USADates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpellMonthMerge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value>DemoVersion</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="OutlookAlertTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowHoursExpenses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlankDatesLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DemoConnection" serializeAs="String">
                <value>data source = 'RevaTrademark.vdb5'</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentConnection" serializeAs="String">
                <value />
            </setting>
        </RevaSettings.My.MySettings>
    </userSettings>
</configuration>
